@import '../../variables.scss';

.description-previewer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  .dark-layer {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.64);
  }

  main {
    z-index: 4;
    width: 540px;
    height: 80%;

    background-color: white;
    border-radius: 12px;
    padding: 24px;
    @include umbra16DP();

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: $fs-16;
      color: $black;
      margin-bottom: 24px;

      .close-icon {
        transition: 0.24s $bezier;

        &:hover {
          transform: rotate(90deg);
        }
      }
    }

    .description-text {
      font-size: $fs-16;
      overflow-y: auto;
      height: 88%;
      color: $black;

      img {
        width: 100%;
      }
    }
  }
}