@import '../../variables.scss';

.image-warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  padding: 12px;
  width: 100%;
  height: 100%;
  color: $purple;
  background-color: white;

  p {
    text-align: center;
    font-size: $fs-22;
  }
}